.custom-button {
  width: 100%;
  height: 50px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 600;
  color: #222;
  border: 0;
  padding: 0;
  outline: none;
  background: #FBFE00;
  cursor: pointer;
  transition: background .2s;
  &:hover {
    background: #c0c304;
  }
  &:active {
    background: #989b03;
  }
}