.editor {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.title {
  font-family: Arial;
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.button {
  height: 50px;
  font-family: Arial;
  font-size: 16px;
  background: coral;
  outline: none;
  border: 0;
  transition: background .2s;
  cursor: pointer;
  &:hover {
    background: rgb(209, 102, 64);
  }
}