.editor {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #673ab7;
  padding: 50px 25px;
}

.title {
  font-family: Arial;
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin: 0 0 30px;
}

.custom-input,
.select {
  margin-bottom: 20px;
}
