.password-buttons {
  width: 30px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  right: 20px;
}

.button {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.button_active {
  display: block;
}

.icon {
  font-size: 24px;
  color: #222;
}