.custom-input {
  width: 100%;
  height: 50px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  width: 100%;
  height: 100%;
}

.input {
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  padding: 10px 20px;
  font-family: arial;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 0;
  background: #fff;
}

.input_active {
  padding-top: 20px;
  padding-bottom: 0;
}

.input_password {
  width: calc(100% - 75px);
  padding-right: 55px;
}

.placeholder {
  font-family: arial;
  font-size: 18px;
  color: #222;
  text-transform: capitalize;
  user-select: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 20px;
  transition: top .25s, font-size .25s;
}

.placeholder_active {
  top: 4px;
  font-size: 14px;
}