.auth {
  width: 450px;
  padding: 50px 25px;
  background: #673ab7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: arial;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}